*{text-align: center;}
@font-face {
    font-family: 'Retro';
    src: url('fonts/cinecaption226.ttf') format('truetype');
    }
body{
    background-color: #6d5743;
}
h1{font-size: 90px;
   font-weight: bold;
   margin:75px 0px 150px 0px;
   color: #000000;
   -webkit-text-stroke: 0.01px #FFF;
   font-family: Retro;
}

.search{
    display: flex;
    justify-content: center;
    height:50px;
}
.sbox{
    background-color: beige;
    width: 80%;
    border-style: none;
}
.sbtn{
    width: 50px;
    border-style: none;
    background-color: rgb(196, 196, 248);

}



