*{text-align: center;}
body{
    background-color: #6d5743;
}
h1{font-size: 80px;
   margin:75px 0px 100px 0px;
   color: #000000;
   -webkit-text-stroke: 1px #FFF;
   font-family: serif;/*あとで変更*/
}
/*あああああああああああああああああああああああ*/
#search{
    display: flex;
    justify-content: center;
    height:50px;
    border-collapse: collapse;
}
#sbox{
    background-color: beige;
    width: 80%;
    border-collapse: collapse;
}
#sbtn{
    width: 50px;
}



